footer {
    background-color: $color-primario;
    color: $color-quinario;
    text-align: center;
    padding: 20px;
}

footer.hoover{
    transform: skewX(10deg);
    transition: all 1s ease;
}